#info {
	position: absolute;
	top: 15px;
	width: 100%;
  /*text-align: center;*/
  margin-left: 15px;
	z-index: 100;
	display:block;
  color: black;
  font-family: 'Georgia'
}

body { margin: 0; }

canvas {
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	z-index: -9999;
}
